:root {
  --color-primary: #eb2f64;
  --color-red: rgb(255, 0, 0);
  --color-primary-light: #c5bec0;
  --color-primary-dark: #808080;

  --color-primary-yellow:yellow;
  --color-primary-light-yellow:yellow;



  --color-light-green: #6ef075;
  --color-dark-green: #237403;

  --color-light-blue: #5a338d;
  --color-dark-blue: #0032d6;
  
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 6rem rgba(0,0,0,.3);

  --line : 1px solid var(--color-grey-light-2);

  --gutter-vertical: 8rem;
  --gutter-horizontal: 6rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    background-size: cover;
    background-repeat: no-repeat;
  
    // min-height: 100vh;
}