.navbar {
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
    align-self: stretch;

    &-link {
      // margin: 0.5rem;
      // text-decoration: none;
      // color: inherit;
      &-comp {
        text-decoration: none;
        color: inherit;
      }
    }

    & > * {
      // user-nav-left and all of its direct children
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }

    & > *:hover {
      background-color: var(--color-dark-blue);
      color: #fff;
    }
  }

  &__right {
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    padding: 0 2rem;
    display: flex;
    cursor: pointer;
    color: #fff;

    &-logo {
      width: 12%;
      height: auto;
      display: flex;
      margin-right: 1rem;

      &-img {
        width: 100%;
        height: auto;
        margin-bottom: 2px;
      }
    }

    &-logo-o {
      width: 20%;
      height: auto;
      display: flex;
      margin-right: 1rem;

      &-img {
        width: 100%;
        height: auto;
        margin-bottom: 2px;
      }
    }

    &:hover {
      // background-color: red;
      background-color: blue;
      color: var(--color-grey-light-1);
    }
  }
}

// Loading Spinner
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: var(--color-light-blue);
  background: -moz-linear-gradient(left, var(--color-light-blue) 10%, rgba(54,46,163, 0) 42%);
  background: -webkit-linear-gradient(left, var(--color-light-blue) 10%, rgba(54,46,163, 0) 42%);
  background: -o-linear-gradient(left, var(--color-light-blue) 10%, rgba(54,46,163, 0) 42%);
  background: -ms-linear-gradient(left, var(--color-light-blue) 10%, rgba(54,46,163, 0) 42%);
  background: linear-gradient(to right, var(--color-light-blue) 10%, rgba(54,46,163, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: var(--color-light-blue);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #f7fdfd;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


//JobBrief and JobDetail
.jobBrief,
.jobDetail {
  margin-bottom: 20px;
  padding: 2rem;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-light);
  }

  &__header {
    font-size: 3rem;
    font-weight: 500;
  }

  &__subheader {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin: -0.8rem 0 1rem 0;
  }

  &__image {
    margin-bottom: 1rem;
  }

  &__paragraph {
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-align: center;
  }

  &__salary {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 1.5rem;
  }

  &__button {
    &-apply {
      background-color: blue;
      
       
    }
    &-reject {
      background-color: red; 
      
    }
  }
}

.jobBrief {
  background-image: linear-gradient(
    to right bottom,
    var(--color-light-green),
    var(--color-dark-green)
  );
  color: black;
}

.jobDetail {
  // background-image: linear-gradient(
  //   to right bottom,
  //   var(--color-light-green),
  //   var(--color-dark-green)
  // );
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-yellow),
    var(--color-dark-green)
  );
  background-color: #fff;
  color: black;
  position: sticky;
  top: 25%;
  border: 1px solid var(--color-grey-dark-1);
  // right: 3em;
  margin-bottom: 6rem;
}

.button {
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  color: var(--color-grey-light-1);
  padding: 0.8rem 4rem;
  border-radius: 20px;
  outline: none;

  &-small {
    cursor: pointer;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    color: var(--color-grey-light-1);
    border-radius: 20px;
    outline: none;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 1rem 2rem rgba(248, 52, 3, 0.2);

    &::after {
      transform: scaleX(1.5) scaleY(1.6);
    }
  }

  &:active,
  &:focus {
    transform: translateY(-0.5px);
  }
}

// input field
.input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: 1px solid var(--color-primary-light);
  padding: 0.7rem 2rem;
  border-radius: 100px;
  // width: 27rem;
  // height: 4rem;
  outline: none;
  // width: 76%;
  transition: all 0.2s;

  &-small {
    font-size: 1.5rem;
  }
}

//default text size before search bar
.text {
  font-size: 2.2rem;
  font-weight: 600;
}

.text-small {
  font-size: 1.5rem;
}

// Error field and text of redux form
.error {
  margin: 1rem;
  padding: .5rem;
  // border: 1px solid rgb(241, 141, 141);
  border-radius: 5px;
  background-color: var(--color-grey-light-4);

  &-text {
    color: red;
    font-size: 1.5rem;
    text-align: center;
  }
}

// Profile section
.profile {
  // margin: 2rem;
  padding-bottom: 3.5rem;

  &__form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: 1px solid var(--color-grey-light-4);
    margin: 0.8rem;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-1 {
        font-size: 3rem;
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          var(--color-primary-yellow),
          var(--color-dark-green)
        );
        margin-right: 2rem;

        &-red {
          margin-right: 2rem;
          background-image: linear-gradient(
            to right bottom,
            var(--color-primary-yellow),
            var(--color-dark-green)
          );
        }
      }
    }

    &-body {
      border-radius: 3rem;
      display: flex;
      flex-direction: column;
      border: 1px solid orange;
      margin: 1rem 20rem;
      padding: 1rem;
      background-color: var(--color-grey-light-1);

      &-field {
        display: flex;
        justify-content: space-between;
        margin: 0.8rem 2rem 0 2rem;

        &-1 {
          margin-right: inherit;
          display: flex;
          flex-direction: column;
        }
        &-2 {
          display: flex;
          flex-direction: column;
        }

        &-ed {
          margin: 0.8rem 2rem 0 2rem;
          display: flex;
          flex-direction: column;
          // align-items: center;

          & > * {
            display: flex;
            flex-direction: column;
            width: 50%;
          }

          // &-1 {
          //   // margin-right: 2rem;
          //   display: flex;
          //   flex-direction: column;
          //   width: 20%;
          // }
          // &-2 {
          //   display: flex;
          //   flex-direction: column;
          //   width: 20%;
          // }
        }
      }

      &-description {
        display: flex;
        flex-direction: column;
        margin: 0.8rem 2rem 0 2rem;

        &-2 {
          overflow: hidden;
        }
      }

      &-button {
        background-image: linear-gradient(
          to right bottom,
          var(--color-primary-yellow),
          var(--color-dark-green)
        );
        margin: 0.8rem 2rem;
        display: flex;
        width: fit-content;
      }

      &-error {
        font-size: 2.5rem;
        color: red;
        text-align: center;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      margin-bottom: 1rem;

      &-header {
        font-size: 2rem;
      }

      &-summary {
        font-size: 1.5rem;
      }
    }
  }
}

// Company section
.company {
  &__header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    &-item {
      border: 1px solid var(--color-primary-dark);
      // margin: 2rem;
      padding: 5rem;
      border-radius: 25px;
      // background-color: var(--color-primary-light);
      color: #fff;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 2rem;
      background-image: linear-gradient(
        to right bottom,
        var(--color-primary-yellow),
        var(--color-dark-green)
      );
      cursor: pointer;

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  &__title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-primary-dark);
  }
}
