.container {
  max-width: 123rem;
  margin: 4rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  // min-height: 340rem;
}

.header {
  font-size: 2rem;
  height: 3.5rem;
  background-color: whitesmoke;
  border-bottom: var(--line);
  position: sticky;
  top: 0;

  // display: flex;
  // align-content: space-between;
  // justify-content: space-between;
  // align-items: center;
}

.contents {
  margin: 3.5rem;

  //header and header image
  &__one {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    &-header {
      font-size: 4rem;
      font-weight: 700;
      color: var(--color-grey-dark-1);
    }

    &-image {
      height: auto;
      width: auto;
    }
  }

  //Search bar
  &__search {
    display: flex;
    //   align-content: space-between;
    justify-content: space-evenly;
    margin:4 rem;
    border-bottom: 1px solid var(--color-dark-blue);

    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    &-button {
      background-color: var(--color-dark-blue);
      padding: 1.75rem;
      margin-bottom: 3rem;
      color: #fff;
      cursor: pointer;
      border: none;
      border-radius: 50px 30px;
      font-size: 1.75rem;
      outline: none;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba(248, 52, 3, 0.2);

        &::after {
          transform: scaleX(1.5) scaleY(1.6);
        //   opacity: 0;
        }
      }

      &:active,
      &:focus {
        transform: translateY(-.5px);
        // box-shadow: 0 0.5rem 1rem rgba(201, 14, 14, .2);
      }
    }
  }



  // Grid layout
  &__grid {

    &__row {
        max-width: 114rem;
        margin: 0 auto;
        display: flex;
        margin: 1rem 3rem;

        &:not(:last-child) {
            margin-bottom: 8rem;
        }

        &-col-1-of-3 {
            width: 40%;
            margin-bottom: 4rem;
            margin-right: 10rem;
        }
        
        &-col-2-of-3 {
            width: 60%;
        }

    }
  }



}
